<div class="wikidoc">
<p>作者：Tony Qu</p>
<p>在Office 97-2003的文件&#26684;式里面中，我们是用SummaryInformation和DocumentSummaryInformation来设置自定义属性的。但OpenXml&#26684;式使用了完全不同的极致。</p>
<p>NPOI中，管理OpenXml&#26684;式的核心类叫做POIXmlDocument，这和POIFSFileSystem是非常类&#20284;的，担负着文件系统管理的职责。而POIXmlDocument.GetProperties则是我们需要关注的重点，它返回的POIXMLProperties实例就是我们需要的自定义属性。</p>
<p>由于XSSFWorkbook和XWPFDocument都继承自POIXmlDocument，所以你真正需要调用的是XSSFWorkbook.GetProperties()和XWPFDocument.GetProperties()。</p>
<p>以下代码是用来设置Custom1自定义属性的：</p>
<pre>            if (!workbook.GetProperties().CustomProperties.Contains(&quot;Custom1&quot;))
                workbook.GetProperties().CustomProperties.AddProperty(&quot;Custom1&quot;, &quot;NPOI Demo&quot;);
</pre>
<p>为了防止重复添加同名自定义属性，一定要记得判断它是否已存在。要注意，此操作必须在workbook.Write()之前调用。</p>
</div><div class="ClearBoth"></div>