<div class="wikidoc">经过调查取证，由安徽人郑维明创办的上海学信教育信息咨询有限公司和江苏学信工业科技有限公司与知名高考查分网站学信网并无任何关系，以下是学信网客服的官方回复：
<p><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=1453637"><img title="Image" border="0" alt="Image" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=1453638" width="858" height="595" style="border-top:0px; border-right:0px; border-bottom:0px; border-left:0px; display:inline"></a>
</p>
<p>但公司老板曾多次向政府机关人员和企业声称该公司和学信网有合作，并暗示存在隶属关系，其实就是钻了政策的空子，从一定意义上讲，该公司的名字已经侵犯了学信网的商标权，只不过由于管辖地的关系（学信网母公司在北京），所以很多事情没人管。
</p>
<p>通常他是这样介绍他公司的，你知不知道学信网？没错，高考查分的网站，我们公司和学信网是有合作，甚至说我们是学信网的直属机构。由于公司名讨巧，很多人确实信了，包括我在内。他还声称可以调动中科院院士资源，可能是认识几个人吧，但是到底什么情况不清楚。
</p>
</div><div class="ClearBoth"></div>