
<div class="wikidoc"><strong>Who are We <br>
</strong><a href="http://www.neuzilla.cn" target="_blank">Neuzilla</a>&nbsp;is the studio behind NPOI. For detail, you can check
<a href="http://www.neuzilla.com">www.neuzilla.com</a></div>
<p><a href="https://gitter.im/tonyqus/npoi?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge" target="_blank"><img title="Join the chat at https://gitter.im/tonyqus/npoi" src="http://badges.gitter.im/Join%20Chat.svg" alt="" border="0"></a>&nbsp;</p>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc"><strong>What's NPOI</strong></div>
<div class="wikidoc">This project is the .NET version of POI Java project at http://poi.apache.org/. POI is an open source project which can help you read/write xls, doc, ppt files. It has a wide application.</div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc">For example, you can use it to</div>
<div class="wikidoc">a. generate a Excel report without Microsoft Office suite installed on your server and more efficient than call Microsoft Excel ActiveX at background;</div>
<div class="wikidoc">b. extract text from Office documents to help you implement full-text indexing feature (most of time this feature is used to create search engines).
<br>
c. extract images from Office documents</div>
<div class="wikidoc">d. generate Excel sheets that contains formulas</div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc"><strong>Donate NPOI</strong></div>
<p>支付宝捐款账号: tonyqus@163.com<br>
Paypal: tonyqus@gmail.com</p>
<div class="wikidoc"><strong><br>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=tonyqus@gmail.com&lc=GB&item_name=NPOI&currency_code=USD&bn=PP-DonationsBF:btn_donateCC_LG.gif:NonHosted" target="_blank"><img title="donate_btn" src="http://download.codeplex.com/download?ProjectName=npoi&DownloadId=152575" alt="donate_btn" width="122" height="47" border="0"></a></strong></div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc"><strong>Advantage of NPOI</strong></div>
<div class="wikidoc">
<div class="wikidoc">a. It's totally free to use</div>
<div class="wikidoc">b. Cover most features of Excel (cell style, data format, formula and so on)</div>
<div class="wikidoc">c. Support xls, xlsx, docx.</div>
<div class="wikidoc">d. Designed to be interface-oriented (take a look at NPOI.SS namespace)</div>
<div class="wikidoc">e. Support not only export but also import</div>
<div class="wikidoc">f. .Net 2.0 based even for xlsx and docx (though we also support .NET 4.0)</div>
<div class="wikidoc">g. Successful cases from all over the world</div>
<div class="wikidoc">h. huge amout of basic examples</div>
<div class="wikidoc">i. No dependency on isolated storage</div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc"><strong><em>To get the latest code, please visit</em></strong>
<a href="https://github.com/tonyqus/npoi" target="_blank">https://github.com/tonyqus/npoi</a>.</div>
<div class="wikidoc">&nbsp;</div>
</div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc"><strong>Comments from NPOI users</strong></div>
<div class="wikidoc"><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761952"><img title="image" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761953" alt="image" width="468" height="122" border="0" style="display:inline; border-width:0px"></a></div>
<div class="wikidoc"><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761954"><img title="image" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761955" alt="image" width="240" height="125" border="0" style="display:inline; border-width:0px"></a></div>
<div class="wikidoc"><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761956"><img title="image" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761957" alt="image" width="250" height="49" border="0" style="display:inline; border-width:0px"></a></div>
<div class="wikidoc"><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761958"><img title="image" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761959" alt="image" width="640" height="78" border="0" style="display:inline; border-width:0px"></a></div>
<div class="wikidoc"><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761960"><img title="image" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=761961" alt="image" width="640" height="78" border="0" style="display:inline; border-width:0px"></a></div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc"><strong>Tutorial</strong></div>
<div class="wikidoc"><a href="http://www.npoi.info">中文教程</a></div>
<div class="wikidoc"><a href="http://www.leniel.net/2014/02/npoi2.0-excel-2007-xssfworkbook-and-word-2007-xwpfdocument-support.html">English Tutorial</a></div>
<div class="wikidoc"><br>
<strong>NPOI on SNS</strong></div>
<div class="wikidoc">
<div class="wikidoc"><em>中文</em></div>
<div class="wikidoc">QQ群: 189925337</div>
<div class="wikidoc">新浪微博: <a href="http://t.sina.com.cn/npoi">http://t.sina.com.cn/npoi</a></div>
<div class="wikidoc">博客：<a href="http://blog.sina.com.cn/tonyqus">http://blog.sina.com.cn/tonyqus</a></div>
</div>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc"><em>English</em></div>
<div class="wikidoc">NPOI User Group: <a href="http://www.linkedin.com/groups/NPOI-User-Group-6655065" target="_blank">
http://www.linkedin.com/groups/NPOI-User-Group-6655065</a></div>
<div class="wikidoc">Twitter: <a href="http://twitter.com/tonyqus">http://twitter.com/tonyqus</a>&nbsp;</div>
<div class="wikidoc"><br>
<strong>System Requirement</strong></div>
<div class="wikidoc">VS2010 with .NET 4.0 runtime<br>
VS2005 or VS2008 with .NET 2.0 Runtime (SP1) <br>
vs2003 with .NET 1.1</div>
<div class="wikidoc">Mono<br>
medium trust environment in ASP.NET</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="http://www.myworldmaps.net/mapstats.aspx?mapid=7893e6f8-cce8-4b02-b195-d1d525d76fc9" style="height:95px; width:160px; display:inline-block"><img src="http://www.myworldmaps.net/map.ashx/7893e6f8-cce8-4b02-b195-d1d525d76fc9/thumb_160" alt="" style="border-width:0px"></a></p>
<div class="wikidoc">&nbsp;</div>
<div class="wikidoc"><strong>Extensions</strong></div>
<div class="wikidoc"><a href="https://github.com/qihangnet/NPOI.CSS" target="_blank">NPOI.CSS</a></div>
<div id="_mcePaste" style="overflow:hidden; height:1px; width:1px; left:-10000px; top:399px">
&nbsp;</div>
