<div class="wikidoc">
<p><u><strong>NPOI Road Map</strong></u> <br>
<br>
<u>NPOI Book Plan</u><br>
A book may be published with the name &lt;NPOI in Action&gt;, which will greatly help beginners to get started with NPOI.</p>
<p><u>NPOI Releases</u></p>
<p><strong>NPOI 2.0</strong></p>
<p>start to support docx and xlsx</p>
<p>&nbsp;</p>
<p><strong>NPOI 2.1</strong></p>
<p>stablize XSSF and XWPF , fix bugs</p>
<p>enhance chart support in XSSF</p>
<p>&nbsp;</p>
<p><u>NPOI Futures</u></p>
<p>It may include Powerpoint, Visio, Publisher library. You can send me emails to tell me what you need in this release.</p>
</div><div class="ClearBoth"></div>