<div class="wikidoc">
<p><a href="http://www.neuzilla.cn" target="_blank">Neuzilla</a> is the software studio behind NPOI. Please follow us.</p>
<p>Our website:&nbsp;<a href="http://www.neuzilla.com">www.neuzilla.com</a></p>
<p>&nbsp;</p>
<p>If you need NPOI support service/business customization service, please contact support@neuzilla.com</p>
<p>如果你需要关于NPOI的有偿技术支持和定制服务，请联系<a href="mailto:support@neuzilla.com">support@neuzilla.com</a><br>
<br>
<strong>中文教程</strong><br>
NPOI 教程（简体中文）<br>
<a href="http://www.dotblogs.com.tw/killysss/archive/2010/01/27/13344.aspx">NPOI 教程（繁体中文）</a></p>
<p><strong>English Tutorial<br>
</strong><a href="http://www.leniel.net/2014/01/npoi-2.0-major-features-enhancements-series-of-posts-scheduled.html">NPOI 2.0 intro</a><br>
<a href="http://d.hatena.ne.jp/okazuki/20091128/1259405232">NPOI 1.2 Japanese Tutorial</a><br>
<a href="http://www.telerik.com/community/code-library/aspnet-ajax/grid/export-to-excel-with-third-party-library-npoi.aspx">Export to Excel with third-party library (NPOI)</a><br>
<a href="http://www.zachhunter.com/2010/05/read-xlsx-data-for-npoi/">How to read in XLSX data for editing with NPOI</a></p>
<p><strong>其他<br>
</strong><a href="/wikipage?title=NPOI%20Road%20Map&referringTitle=Documentation">NPOI Road Map</a><br>
<a href="/wikipage?title=NPOI%20Team%20Members&referringTitle=Documentation">NPOI Team Members</a><br>
<a href="/wikipage?title=NPOI%20Release%20Plan&referringTitle=Documentation">NPOI Release Plan</a><br>
<a href="/wikipage?title=History%20of%20Changes&referringTitle=Documentation">History of Changes</a><br>
<a href="/wikipage?title=NPOI%20Test%20Cases&referringTitle=Documentation">NPOI Test Cases</a></p>
</div><div class="ClearBoth"></div>