<div class="wikidoc">
<p>这公司从2014年2月份开始搞我，我去年的绩效是3.8/5.0，完全没有绩效问题。他们倒好，自从我查完我们公司某商业间谍之后，就给我穿小鞋，说我这个不好，那个拖延，这不是扯淡吗？我现在把这件事情公之于众，望以后大家和这位徐小姐交往、做生意一定要小心！他们的背景很牛，甚至可能有军方背景，而且我有理由相信这是在老板Nicola Columbo授权下进行的。本身希乐仑是家意大利公司！大家懂的！<br>
<br>
我的手机号是135开头的，但密保手机是139开头的，根本不是我的，是不是很奇怪？你说谁会把密保手机改称别人的？！还是公司HR的手机，我大概脑子坏掉了！再说了，就算我要改成徐小姐的我无能为力，因为这个手机号是验证通过的，也就是说我需要徐敏的手机才能办到，所以不可能是我自己改的。</p>
<p>有人可能要问，为何她要入侵我易迅，虽然我不敢100%肯定，我觉得目的还是很明显的，她可能没发黑我QQ，所以想绕道易迅设法更改我密码，达到黑我QQ的目的。也许他们是想在我QQ上拿一些对我不利的证据把，谁知道呢？他们的行为还真有点让人匪夷所思<br>
<br>
以下是证据：</p>
<h3><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=829332"><img title="证据1_yixun" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=829333" alt="证据1_yixun" width="644" height="349" border="0" style="display:inline; border:0px"></a></h3>
<h3>&nbsp;</h3>
<p><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=829334"><img title="image" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=829335" alt="image" width="644" height="268" border="0" style="display:inline; border:0px"></a>
</p>
<p><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=829336"><img title="image" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=npoi&DownloadId=829337" alt="image" width="644" height="314" border="0" style="display:inline; border:0px"></a></p>
</div><div class="ClearBoth"></div>